body{
    background-color: rgb(123, 83, 47);
    font-family: Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4{
    color: white;
    margin-top: 20px;
    margin-bottom: 0;
}
/* Tabellengestaltung */
table{
    border-collapse:collapse;
    width: 50%;
}
tr:nth-child(4n){
    background-color: rgb(40, 177, 177);
}
tr:nth-child(4n+1){
    background-color: rgb(52, 146, 240);
}
tr:nth-child(4n+2){
    background-color: rgb(52, 80, 209);
}
tr:nth-child(4n+3){
    background-color: rgb(51, 19, 196);
}
th,
td {
    border-width: 3px;
    border-style: double;
    border-color: red;
    /* Kurzschreibweise : border: 3px solid red*/
    padding: 10px;
}