body {
    margin: 20px;
    padding: 0;
    background: #333;
}
.container {
    max-width: 760px;
    margin: auto;
    border: 3px solid #fff;
    background: #fff;
}
.main-img img, .imgs img {
    width: 100%;
}
.imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

/* Fade in animation */
@keyframes fadeIn {
    /* Beim letzten Zustand, opacity 1*/
to {
    opacity: 1;
}
}
.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in 1 forwards;
}

/* Vor- und Zurück "Buttons" */
#forward, #back {
    cursor: pointer;
    position: absolute; /* Über was anderes liegen */
    bottom: 20px;
    width: 0;
    height: 0;
    border: 20px solid rgba(255, 255, 255, 0.74);
    border-top-color: transparent;
    border-bottom-color: transparent;
} 
#back {
border-left-color: transparent; left: 10px;
} 
#forward {
    border-right-color: transparent;
    right: 10px;
}